In [53]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy.sql import text
from lib import Output, TaxiDBReader, GREEN, YELLOW, TABLES, tabulate, CHUNK_SIZE, TABLE_FORMAT, SEPARATOR

O = Output('output/chart_output.txt') 
    
O.clear()
O.out(SEPARATOR)
O.out('Priliminary Viz (charts)')
O.out(SEPARATOR)
dr = TaxiDBReader()

# Example data (replace these with your actual data)
# distance = [1.2, 3.5, 7.8, 2.5, 4.6, 5.9, 6.1, 7.3, 2.2, 3.1]  # Distance data
# passenger_count = [1, 2, 2, 3, 1, 5, 1, 2, 1, 4]  # Passenger count data
# cost = [10.5, 15.7, 22.1, 12.8, 18.3, 24.0, 19.5, 21.2, 13.1, 16.8]  # Cost data

sql engine ready

In [58]:
dr.setTable(year=2023, taxi_type=GREEN)
table_name = dr.getTableName()

def getDF(sql):
    with dr.engn.connect() as conn:
        return pd.read_sql(sql, conn)

sql = text(f'''
SELECT pu_location_id, do_location_id, f_trip_distance, f_passenger_count, f_total_amount, f_fare_amount FROM {table_name}
WHERE f_trip_distance > 0 AND f_trip_distance < 20 AND f_passenger_count > 0 AND f_total_amount > 0
''')

df = getDF(sql)

In [60]:
columns = ['f_trip_distance', 'f_passenger_count', 'f_total_amount', 'f_fare_amount']
for c in columns:
    # plt.hist(df[c], bins=10, range=(df[c].min(), df[c].max()))
    # plt.xlabel(c)
    # plt.ylabel('Frequency')
    # plt.show()

    print(f'column: {c}, min: {df[c].min()}, max: {df[c].max()}')

column: f_trip_distance, min: 0.01, max: 19.99
column: f_passenger_count, min: 1, max: 9
column: f_total_amount, min: 0.01, max: 1025.8
column: f_fare_amount, min: -14.72, max: 1024.3

In [62]:
sql = text(f'''
SELECT pickup_datetime, dropoff_datetime, f_trip_distance, f_passenger_count, f_total_amount, f_fare_amount FROM {table_name}
WHERE f_total_amount > 100 and f_trip_distance < 20
''')

df = getDF(sql)
O.clear()
O.out(df, True, 200)